@import "compass";
@import "reset";
@import "sprite";

$img_path: "img";

$font_size: 16px;
$line_height: 24px;
$font_color: #333;

$link_color: #fff;
$visited_color: #fff;
$active_color: #fff;

$wrapper_width: 960px;